<div class="row">
  <div class="col-md-5">
    <h2>Books</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let book of books"
        (click)="selectBook(book)"
        [class.active]="book === selectedBook">
        {{book.title}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewBook()">New Entry</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <book-details
      [book]="selectedBook"
      [createHandler]="addBook"
      [updateHandler]="updateBook"
      [deleteHandler]="deleteBook">
    </book-details>
  </div>
</div>
